<div class="footer_layout">
  <div class="footer_layout_inner">
    <span class="copyrights">&copy; Copyright 2014, GrupOfis.  All Rights Reserved.</span>
    <span class="poweredBy">
      <p>Powered by</p>
      <p><%= image_tag "/assets/cc_icon.png", alt: "color-cuboid"  %></p>
      <p><%= link_to "ColorCuboid Designs", "http://colorcuboid.com/", target: true  %></p>
    </span>
  </div>
</div>